.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.314);
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgb(200, 200, 200);
}

nav {
  display : flex;
  justify-content : space-around;
  align-items : center;
  width : 80%;
  height : 48px;
  /* border-bottom : 2px solid black; */
}

.nav a{
  text-decoration : none;
  padding-bottom : 2px;
  margin-right : 50px;
  color : black;
  font-weight : 550;
  position : relative;
  cursor : pointer;
}

.nav a::before{
  position : absolute;
  content : '';
  top: 160%;
  left : 0;
  height : 3px;
  width : 0%;
  background : black;
  transition : all ease 0.4s;
}

.nav a .active::before {
  width: 100%;
}
.nav a:hover::before{
  width : 100%;
}

.__name-logo {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
}

@media (max-width: 450px) {
  .__name-logo {
    font-size: 1.25rem;
  }
}